:root 
{
    --header-bg : #033c3ce8 ; 
    --header-top-bg : #020 ; 
    --header-hr : #418c8c ; 
    --header-a : #fff ; 
    --header-a-hover : #fc0 ; 
    --header-a-focus : #fc0 ; 
    --selection-color : #fff ; 
    --selection-bg : #000 ; 
}