@page "/guide"
<style>
    #guide 
    {
        border-top : #0005 solid 2px ; 
    }
    #map 
    {
        padding-left : 1rem ; 
    }
    #map dt 
    {
        display : block ; 
        padding-left : 1rem ; 
    }
    #map dd 
    {
        display : block ; 
        padding-left : 2rem ; 
    }
</style>
<div class="bread">
    <span>現在位置：</span>
    <ul>
        <li><a href="">首頁</a></li>
        <li>網站導覽</li>
    </ul>
</div>
<PageTitle>網站導覽 - 臺中市立臺中第一高級中等學校學生自治聯合會法規資料庫</PageTitle>

<h1>網站導覽</h1>
<div id="guide"></div>
<div id="map">
    <h2>網站地圖</h2>
    <dl>
        <dt><a href="laws">法規查詢</a></dt>
            <dd><a href="laws?c=c">中央法規</a></dd>
            <dd><a href="laws?c=ex">行政法規</a></dd>
            <dd><a href="laws?c=l">立法法規</a></dd>
            <dd><a href="laws?c=j">司法法規</a></dd>
            <dd><a href="laws?c=el">選舉法規（含中央、行政及立法之選舉法規）</a></dd>
        <dt><a href="cases">判例查詢</a></dt>
        <dt><a href="parties">政黨查詢</a></dt>
        <dt><a href="print">法規彙編（列印）</a></dt>
        <dt><a href="rel">相關連結</a></dt>
        <dt><a href="open">資料開放宣告</a></dt>
    </dl>
</div>


<br class="printNoDisplay" />
<a class="printNoDisplay" href="">回首頁</a>