@page "/open"
<PageTitle>資料開放宣告 - 臺中市立臺中第一高級中等學校學生自治聯合會法規資料庫</PageTitle>
<style>
    p 
    {
        margin-left : 2em ; 
        text-indent : -2em ; 
        margin-bottom : .5rem ; 
    }
</style>
<div class="bread">
    <span>現在位置：</span>
    <ul>
        <li><a href="">首頁</a></li>
        <li>資料開放宣告</li>
    </ul>
</div>
<h1>資料開放宣告</h1>
<div class="open">
<p>一、授權方式及範圍<br/>

為利各界廣為利用網站資料，中一中學聯會法規資料庫網站上刊載之所有資料與素材，其得受著作權保護之範圍，採<a href="https://data.gov.tw/license" target="_blank">政府資料開放授權條款-第1版</a>發布，以無償、非專屬、得由使用者再授權之方式提供公眾使用，使用者得不限時間及地域，重製、改作、編輯、公開傳輸或為其他方式之利用，開發各種產品或服務（簡稱加值衍生物），此一授權行為不會嗣後撤回，使用者亦無須取得本機關之書面或其他方式授權；然使用時應註明出處。</p>
<p>
二、相關事項說明<br/>

<span style="margin-left:3em;text-indent:-3em;display:block;">（一）本宣告範圍僅及於著作權保護之範圍，不及於其他智慧財產權利（包括但不限於專利、商標、及機關標誌之提供）。</span><br/>

<span style="margin-left:3em;text-indent:-3em;display:block;">（二）當事人自行公開或依法令公開之個人資料是否得被蒐集、處理，及利用，使用者須自行依照個人資料保護法之相關規定，規劃並執行法律要求之相應措施。</span><br/>

<span style="margin-left:3em;text-indent:-3em;display:block;">（三）部分的影音、圖像、樂譜、專人專案撰文或其他著作，經機關特別聲明須經同意方可使用者，不在本宣告所及範圍，其後續使用應另經機關同意。</span><br/>
</p><p>
三、應注意尊重第三人之著作人格權（包括姓名表示權及禁止不當變更權）。
</p><p>
四、使用本宣告提供之資料與素材，不得惡意變更其相關資訊，若利用後所展示之資訊與原資料與素材不符，且得被依法歸責，使用者須自負民事、刑事上之法律責任。
</p><p>
五、本網站之宣告，並不授與使用者代表本機關建議、認可或贊同其加值衍生物之地位。

</p></div>
<a class="printNoDisplay" href="">回首頁</a>